*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: "Gotham Medium", -apple-system, arial;
    font-weight: 700;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.8px;
    position: fixed;
    z-index: 3;
    transition: 0.2s;
}

.nav-active{
    background-color: white;
    color: black;
}

.logo{
    width: 100px;
    margin: -38px -12px 0 -3px;
}

.icon{
    width: 20px;
}

.image-convert-off{
    filter: brightness(0) invert(1);
}

.image-convert-on{
    filter: grayscale(1);
}

ul{
    list-style-type: none;
    display: flex;
}

ul li{
    margin: 10px;
    transition: 0.8s;
    padding: 0 13px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 10px;
}

.ul-neutral li{
    margin: 10px 3px 0 3px;
    padding: 0 10px;
}

.ul-neutral{
    margin: 0 10px;
}

.li-active:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
}

header article{
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-bottom: 95px;
}

.banner1{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Wall_Connector_banner_web.jpg");
}

.banner2{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Chill_banner_web.jpg");
}

.banner3{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/MY_Floormats_banner_web.jpg");
}

.shop-now{
    font-size: 13px;
    width: 290px;
    height: 42px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: rgb(88, 88, 88);
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

article h3{
    margin: 15px 0 30px 0;
    font-size: 28px;
}


article h2{
    font-size: 40px;
}

.sellers{
    color: black;
}

.sellers h2{
    margin: 50px 0 30px 28px;
}

.holder{
    margin-left: 28px;
    margin-bottom: 60px;
    width: 95vw;
    display: flex;
    justify-content: space-around;
}

.offer{
    width: 87%;
}

.offer img{
    width: 100%;
}

.offer p{
    font-size: 17px;
    letter-spacing: 0.7px;
    font-weight: 400;
    margin-top: 20px;
}

.product{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 75px;
}

.product h2{
    margin-bottom: 25px;
    font-size: 35px;
}

.black-model{
    color: rgb(32, 32, 32);
}

.p1{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/MS_web.jpg");
}

.p2{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/M3_web.jpg");
}

.p3{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/MX_web.jpg");
}

.p4{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/MY_web.jpg");
}

.p5{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Charging_web.jpg");
}

.p6{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Lifestyle_web.jpg");
}

.merch{
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: space-between;
    color: rgb(32, 32, 32);
}

.m1, .m2, .m3{
    width: 32.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 60px;
    background-position: center;
    background-size: cover;
}

.m1{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Men_web.jpg");
}   

.m2{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Women_web.jpg");
}   

.m3{
    background-image: url("https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/teslaweb/homepage/Kids_web.jpg");
}   

.corrected{
    border: 3px solid black;
    width: 135px;
}

.ending-button{
    border: 3px solid black;
}

.corrected:hover, .ending-button:hover{
    transition: 0.6s;
    background-color: black;
    color: white;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(133, 133, 133);
    font-size: 13px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -65px !important;
    z-index: 100;
}

.item h2, .item h3{
    text-align: center;
}