.hidden-menu{
    width: 100vw;
    height: 380px;
    margin-top: 45px;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 0 25px;
}

.menu-headers{
    display: grid;
    grid-template-columns: 185px 185px 185px 185px;
    margin-top: 50px;
    height: 250px;
    justify-content: space-around;
}

.menu-headers h4{
    cursor: pointer;
    margin: 15px;
    position: relative;
}

.menu-headers h4::before{
    content: "";
    position: fixed;
    margin-top: 22px;
    width: 140px;
    height: 5px;
    background-color: #d0d1d2;
}

.menu-photo h2{
    color: #393c41;
    margin-top: 15px;
}

.menu-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-headers ul{
    display: flex;
    flex-direction: column;
    color: rgb(88, 88, 88);
}

.menu-headers ul li{
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.menu-headers ul li:hover{
    color: black;
}

.menu-headers div{
    width: 250px;
}

.menu-fix{
    grid-template-columns: 250px 250px 250px;
}

/* side menu  */

aside{
    position: fixed;
    right: 0;
    width: 450px;
    min-height: 100vh;
    background-color: white;
    z-index: 5;

}